<!doctype html>
<html lang="en">
  <head>
    <title>{{ config.title }}</title>
    <link rel="me" href="https://mastodon.social/@jacobwoffenden" />
    <link rel="stylesheet" href="/site.css" />
    <meta charset="utf-8" />
    <meta name="description" content="{{ config.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <section class="section">
      <div class="container">{% block content %} {% endblock %}</div>
      <div class="build-info">
        <small>This site is published to Cloudflare Workers by GitHub Actions.</small>
        <br />
        <small
          ><a href="https://github.com/{{ get_env(name='GITHUB_REPOSITORY', default='local') }}/commit/{{ get_env(name='GITHUB_SHA', default='notarealsha') }}">Commit</a></small
        >
        <br />
        <small
          ><a href="https://github.com/{{ get_env(name='GITHUB_REPOSITORY', default='local') }}/actions/runs/{{ get_env(name='GITHUB_RUN_ID', default='notarealrun') }}"
            >GitHub Actions Run</a
          ></small
        >
      </div>
    </section>
  </body>
</html>
