{% extends "base.html" %} {% block content %}
<h1 class="title">👋 Hello!</h1>
<p>
  I'm currently working at the
  <a href="https://www.gov.uk/government/organisations/ministry-of-justice">Ministry of Justice</a> as a
  <a
    href="https://ddat-capability-framework.service.gov.uk/role/development-operations-devops-engineer#senior-devops-engineer"
    >Senior DevOps Engineer</a
  >
  on the
  <a href="https://user-guidance.analytical-platform.service.justice.gov.uk/">Analytical Platform.</a>
</p>
<h2>Contact:</h2>
<ul>
  <li><a href="mailto:hi@jacobwoffenden.com" class="touch-target">Email</a></li>
</ul>
<h2>Links:</h2>
<ul>
  <li><a href="/bsky" class="touch-target">Bluesky</a></li>
  <li><a href="/github" class="touch-target">GitHub</a></li>
  <li><a href="/linkedin" class="touch-target">LinkedIn</a></li>
</ul>
<h2>Other Things:</h2>
<ul>
  <li><a href="jacobwoffenden-gpg.asc" class="touch-target">GPG key</a></li>
  <li><a href="content/ssh/jacobwoffenden-ssh.pub" class="touch-target">SSH key</a></li>
</ul>
{% endblock content %}
